*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header{
    width: 80%;
    margin: auto;
}
header img{
    width: 20%;
    margin-top: 1%;
}

/* Navigation */

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}

nav a:link, nav a:visited{
    font-weight: bold;
    color: grey;
    text-decoration: none;
}

nav a:hover{
    color: black;
    text-decoration: underline;
}

/* Articles list */

article img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.articleList{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.articleList article{
    padding: 20px;
    flex-grow: 1;
}

.articleList a:link,
.articleList a:visited,
#category_container a:link,
#category_container a:visited{
    color: #222;
    text-decoration: none;
}

.articleList a:hover,
#category_container a:hover{
    color: black;
    text-shadow: 1px 1px 1px grey;
}

.article_title{
    width: 78%;
    margin: auto;
}

/* Input form */

#input_form{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 2vh;
}

#input_form input:not(input[type='checkbox']),
#input_form select,
#input_form textarea{
    width: 80%;
    margin-top: 5px;
}

#input_form input[type='text'],
#input_form textarea{
    padding: 3px;
}

#input_form input[type='checkbox']{
    margin-top: 20px;
}

#input_form select{
    text-align: center;
}

.validation_error{
    color: red;
    display: none;
    width: 80%;
    margin: auto;
}

#image_input{
    padding: 4px 0;
}

/* Admin page */
#admin_article_list table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

#admin_article_list table,
#admin_article_list td,
#admin_article_list th{
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}

.editArticleButton, .deleteArticleButton{
    color: blue;
    cursor: pointer;
}

/* Category list */
.category_article img{
    max-height: 20vh;
    object-fit: cover;
}

#category_container{
    width: 80%;
}

#category_container article{
    margin-bottom: 15px;
}

#category_container img{
    border: 1px solid black;
}

/* Registration and login form */
#registration_form, #login_form{
    text-align: center;
}

#registration_form > form > input,
#login_form > form > input{
    width: 20%;
}

.error{
    color:red;
    text-align: center;
}

/* Article */

#article_body{
    width: 80%;
    margin: auto;
}

#article_body h1{
    text-align: center;
}

#article_body #summary{
    text-align: center;
    color: grey;
    font-weight: bold;
}

#article_body img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    margin: 1vh 0;
}

/* Unauthorized */
#no_access{
    font-weight: bold;
    text-align: center;
    color: red;
}

/* Footer */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
}

footer p{
    margin: 5px;
}